* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #121212;
    color: #FFFFFF;
}

.section {
    padding: 40px 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.box {
    background: #282828;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px 0;
    color: #FFFFFF;
}

.title, .subtitle {
    color: #1DB954;
}

textarea {
    background: #181818;
    color: #FFFFFF;
    border: 1px solid #333333;
}

textarea:focus {
    border-color: #1DB954;
}

.button.is-primary {
    background-color: #1DB954;
    border: none;
}

.button.is-primary:hover {
    background-color: #1ED760;
}

.table {
    width: 100%;
}

.table th, .table td {
    color: #d9c5c5;
    border: 1px solid #bcefba;
    background-color: #333333;
}

.table th {
    background-color: #2d5c74;
}

.table tbody tr:nth-child(even) {
    background-color: #FFFFFF;
}

.table tbody tr:hover {
    background-color: #262222;
    color: #000000;
}

.content pre {
    background: #181818;
    color: #FFFFFF;
    padding: 20px;
    border: 1px solid #333333;
    border-radius: 4px;
    overflow-x: auto;
}
